body {
  background: #222;
  color: #fff;
  padding-top: 2px;
}
pre {
  border: 1px solid #333;
  background: #202020;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
pre.current {
  background: #000;
}
