::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
body {
  background: #222;
  color: #fff;
}
#scroll {
  padding-top: 24px;
  padding-left: 4px;
}
span.line-span {
  white-space: nowrap;
  margin-top: 7px;
}
div.line-div {
  width: 100%;
  padding-bottom: 6px;
}
img.appicon {
  vertical-align: top;
  width: 48px;
  height: 48px;
}
pre {
  display: inline-block;
  margin: 0;
  margin-left: 7px;
  margin-top: 2px;
  background: #181818;
  border: 1px solid #161616;
  overflow: hidden;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}
pre:hover {
  background: #111;
  border: 1px solid #666;
}
pre.current {
  background: #000;
  border: 1px solid #f80;
}
