doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title clippo
        link(rel='stylesheet' href='css/appsel.css'  type='text/css')
        link(rel='stylesheet' href='css/dark.css' type='text/css', id='style-link')
    body#body
        #appsel.main(tabindex="0")
    script.
        require('./appsel')

