doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title clippo
        link(rel='stylesheet' href='css/style.css'  type='text/css')
    body.body
        #titlebar.titlebar
        #main.main(tabindex="0")
    script.
        require('./js/clippo.js')

