
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth          = 6px
titlebarHeight      = 30px
titlebarFontSize    = 15px
titlebarFont        = Bahnschrift Light, Ebrima, Varela Round, Arial Rounded MT Bold, Helvetica, Arial
fontMono            = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

body
    font-family         fontMono
    font-size           14px

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    padding             frameWidth
    
#buffer
    position            absolute

// 000      000  000   000  00000000   0000000  
// 000      000  0000  000  000       000       
// 000      000  000 0 000  0000000   0000000   
// 000      000  000  0000  000            000  
// 0000000  000  000   000  00000000  0000000   

.line-div
    padding                 frameWidth
    padding-left            2 * frameWidth
    position                relative
                
span.line-span
    -webkit-app-region      no-drag
    white-space             nowrap
    margin-top              7px

img.appicon
    vertical-align          top
    width                   48px
    height                  48px

pre
    font-family             fontMono
    display                 inline-block
    margin                  0
    margin-left             7px
    margin-top              2px
    overflow                hidden
    padding                 13px
    cursor                  pointer
    border-radius           6px

.current 
    border-top-right-radius 6px
    border-bottom-right-radius 6px
            
// 000  00     00   0000000    0000000   00000000  
// 000  000   000  000   000  000        000       
// 000  000000000  000000000  000  0000  0000000   
// 000  000 0 000  000   000  000   000  000       
// 000  000   000  000   000   0000000   00000000  

.image
    max-width               85%
    margin                  0
    margin-left             7px
    margin-top              2px
    cursor                  pointer
    border                  1px solid transparent
                
// 00     00  000   0000000   0000000  
// 000   000  000  000       000       
// 000000000  000  0000000   000       
// 000 0 000  000       000  000       
// 000   000  000  0000000    0000000  

.info // empty clipboard
    max-width               45%
    margin-top              100px

    